.about-container .left-about p{
    padding-left: 0;
}

@media screen and (max-width: 600px) {
    .header-content{
        .right-header{
            .btn-con{
                position: relative;
                bottom: 0.5rem;
                right: 20%;
                padding-top: 1rem;
                margin-left: auto;
                padding-bottom: 1rem;
                padding-left: 22%;
            }
        }
    }
    .about-container{
        .right-about{
            .about-item {
                width: auto;
                height: auto;
            }
        }
    }  
    .ami-title{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .skills-title {
        font-size: 1.4rem;
        margin-top: 45rem;
        margin-left: 0;
        position: fixed;
    }
    .stat-title{
        text-align: unset;
        padding-bottom: 1.5rem;
    }
    header{
        padding: 0 !important;
        overflow: visible;
    }
    .theme-btn{
        top: 1%;
        width: 35px;
        height: 35px;
    }
    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        .left-header{
            top: -23%;
        }
        .right-header{
            top: -3%;
            position: relative;
        }
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .header-content .left-header .image{
        top: 5%;
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: 64%;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }

    .about-container{
        grid-template-columns: repeat(1, 1fr);
        .right-about{
            grid-template-columns: repeat(1, 1fr);
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .container{
        padding: 2rem 2.5rem !important;
    }

    .portfolios{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
        margin-right: 0;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        .left-contact{
            margin-top: -2rem;
            h4{
                font-size: 1.3rem;
            }
            .contact-icon{
                margin-left: 9rem;
                margin-top: -5rem
            }
        }  
    }
    .btn-send {
        width:unset;
        margin-left: 0;
        border-radius: 30px;
        color: inherit;
        font-weight: 600;
        position: relative;
        display: flex;
        align-self: flex-start;
        align-items: center;
        overflow: hidden;
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }

    .contact-item{
        padding-right: 10rem;
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 15px;
            color: var(--color-grey-2);
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
    }


    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
        }
    }
}

@media screen and (max-width:1432px){
    .container{
        padding: 7rem 11rem;
    }
    .btn-send{
        margin-left: 0;
        width: fit-content;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 0.5rem;
        }
        
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }    
}

@media screen and (max-width:1250px){
    .portfolios{
        grid-template-columns: repeat(2, 1fr);
    }
    .header-content .right-header{
        padding-right: 9rem;
    }

}
@media screen and (max-width:660px){
    .portfolios{
        grid-template-columns: repeat(1, 1fr);
    }
    header{
        padding: 0 !important;
        overflow: visible;
    }
}

@media screen and (max-width:1070px){
    .about-container{
        grid-template-columns: repeat(1, 1fr);
        .right-about{
            padding-top: 2.5rem;
        }
    }
    header{
        padding: 0 !important;
        overflow: visible;
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
        }
    }
}

@media screen and (max-width:970px){
    .container{
        padding: 7rem 6rem;
    }
    .about-container .left-about{
        padding-right: 0rem;
    }
    .header-content{
        .left-header{
            .image{
                height: 75%;
            }
        }
        .btn-con{
            margin-left: 36%;
            padding-top: 3rem;
        }
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
        .image{
            width: 80% !important;
            margin: 0 auto !important;
            
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 1.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    header{
        padding: 0 !important;
        overflow: visible;
    }
}
@media screen and (max-width:700px){
    .container{
        padding: 7rem 3rem;
    }
    .about-container .right-about{
        grid-template-columns: repeat(2, 1fr);
    }

    .timeline{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-title{
        h2{
            font-size: 2.5rem;
            span{
                font-size: 2.5rem;
            }
        }
    }
    header{
        padding: 0 !important;
        overflow: visible;
    }
}
@media screen and (max-width:350px){
    .contact-content-con{
        .left-contact{
            .contact-icon{
                margin-left: 5.8rem;
                margin-top: -4rem;
            }
        }  
    }
}